<launch>
  <arg name="mesh_interface" default="enp60s0" />
  <include file="$(find udp_mesh)/launch/rudp_mesh_node.launch">
    <arg name="mesh_interface" value="$(arg mesh_interface)" />
    <arg name="mesh_hostname" value="B1" />
    <arg name="topic_list" value="[1|std_msgs/Bool|estop_cmd,
                                   1|std_msgs/Bool|radio_reset_cmd,
                                   1|sensor_msgs/Joy|joy_base,
                                   2|geometry_msgs/TransformStamped|origin_from_base,
                                   2|bobcat/AgentMsg|ma_data,
                                   3|bobcat/DMReqArray|dm_request,
                                   4|bobcat/DMRespArray|dm_response]" />
    <arg name="host_list" value="[]" />
  </include>

  <include file="$(find bobcat)/launch/bobcat_bcn.launch" />
</launch>
