<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="useMesh" default="false" />
  <arg name="potentialNeighbors" default="H01,T02,A01" />
  <include file="$(find bobcat)/launch/bobcat.launch">
    <arg name="vehicle" value="Base" />
    <arg name="type" value="base" />
    <arg name="viz" value="true" />
    <arg name="potentialNeighbors" value="$(arg potentialNeighbors)" />
    <arg name="useMesh" value="$(arg useMesh)" />
  </include>
</launch>
