<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="vehicle" default="H01" />
  <arg name="useMesh" default="false" />
  <arg name="singleGoalDeconflict" default="true" />
  <arg name="sharePoseGraph" default="true" />
  <arg name="myBeacons" default="" />
  <arg name="turnDetect" default="true" />
  <arg name="delayDrop" default="false" />
  <arg name="reverseDrop" default="true" />
  <arg name="mappingRange" default="5.0" />
  <arg name="useExtTraj" default="false" />

  <include file="$(find bobcat)/launch/bobcat.launch">
    <arg name="vehicle" value="$(arg vehicle)" />
    <arg name="type" value="robot" />
    <arg name="useMesh" value="$(arg useMesh)" />
    <arg name="singleGoalDeconflict" value="$(arg singleGoalDeconflict)" />
    <arg name="sharePoseGraph" value="$(arg sharePoseGraph)" />
    <arg name="myBeacons" value="$(arg myBeacons)" />
    <arg name="turnDetect" value="$(arg turnDetect)" />
    <arg name="delayDrop" value="$(arg delayDrop)" />
    <arg name="reverseDrop" value="$(arg reverseDrop)" />
    <arg name="mappingRange" value="$(arg mappingRange)" />
    <arg name="useExtTraj" value="$(arg useExtTraj)" />
  </include>
</launch>
