<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="vehicle" default="X1" />
  <arg name="type" default="robot" />
  <arg name="myBeacons" default="" />
  <arg name="delayDrop" default="false" />

  <include file="$(find marble_multi_agent)/launch/multi_agent.launch">
    <arg name="totalBeacons" value="8" />
    <arg name="potentialNeighbors" value="X1,X2" />
    <arg name="simcomms" value="true" />
    <arg name="anchorDropDist" value="30" />
    <arg name="dropDist" value="25" />
    <arg name="nodeTopic" value="at_a_node" />
    <arg name="artifactsTopic" value="artifact_array" />
    <arg name="anchorX" value="0.0" />
    <arg name="anchorY" value="0.0" />
    <arg name="anchorZ" value="0.0" />

    <arg name="vehicle" value="$(arg vehicle)" />
    <arg name="type" value="$(arg type)" />
    <arg name="myBeacons" value="$(arg myBeacons)" />
    <arg name="delayDrop" value="$(arg delayDrop)" />
  </include>
</launch>
