<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find marble_multi_agent)/launch/multi_agent.launch">
    <arg name="vehicle" value="Base" />
    <arg name="type" value="base" />
    <arg name="monitor" value="true" />
    <arg name="useMesh" value="false" />
  </include>
</launch>
